{% extends "slide/base.html" %} 
  {% block content %}

  {% for item0 in achievement_list %}
  {% if item0.visible %}

    {% ifchanged %}<h4 class="h4">{{ item0.get_category_display }}</h4> 

    <hr>

      {% for item in achievement_list %}
      {% if item0.category == item.category %}
        <div class="card w-125">
            <div class="card-body">
              <h5 class="card-title">{{ item.title }}</h5>
              <h6 class="card-subtitle mb-2 text-muted">start date : {{ item.start_date }}</h6>
              <h6 class="card-subtitle mb-2 text-muted">end date : 
                {% if item.end_date is None %}
                  근무중
                {% else %}
                  {{item.end_date}}
                {% endif %}
              </h6>
              
              <p class="card-text">{{ item.contents }}</p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
              <a href="#" class="card-link">Another another link</a>
              
            </div>
          </div>
          {% endif %}

        {% endfor %}
          
        <hr>


    {% endifchanged %}
  {% endif %}
  {% endfor %}

{% endblock %}
